# Configuration Template for Certificate Generation
# Modify for your own needs

export OSSL_COUNTRY_NAME="XE"
export OSSL_STATE_NAME="Test State XE"
export OSSL_LOCALITY_NAME="Geneva XE"
export OSSL_ORGANIZATION_NAME="MoH XE"
export OSSL_ORGANIZATIONAL_UNIT_NAME="R&D XE"
export OSSL_COMMON_NAME="NationXC_TNP XE"
